* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.quiz-container {
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}


#options button {

    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: white;
    transition: 0.3s;

}


/* selected option */
#options button.selected {

    background-color: #facc15;
    color: black;
    border-color: #eab308;

}


#next-btn {

    padding: 10px 25px;
    cursor: pointer;

}