* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #fff8ef;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: double 18px #7c4d2c;
}

.container {
    width: 100%;
    max-width: 450px;
    background: #ffffff;
    padding: 35px;
    border: double 12px #d97706;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(121, 85, 43, 0.15);
}

h1 {
    color: #8b4513;
    font-size: 32px;
    margin-bottom: 15px;
}

p {
    color: #6b7280;
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.5;
}

#dice {
    font-size: 95px;
    margin: 25px 0;
    transition: 0.3s;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 12px;
    background: #e0a171;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border: #0e0d0d solid 2px;
}

button:hover {
    background: #d37f3a;
    transform: translateY(-2px);
}

button:active {
    transform: scale(0.98);
}

#result {
    margin-top: 25px;
    color: #8b4513;
    font-size: 24px;
    font-weight: bold;
}

/* ---------- Tablet ---------- */

@media (max-width: 600px) {

    body {
        border-width: 10px;
        padding: 15px;
    }

    .container {
        padding: 25px;
        border-width: 8px;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 15px;
    }

    #dice {
        font-size: 75px;
    }

    button {
        font-size: 17px;
        padding: 14px;
    }

    #result {
        font-size: 22px;
    }

}

/* ---------- Small Mobile ---------- */

@media (max-width: 350px) {

    body {
        border-width: 5px;
        padding: 10px;
    }

    .container {
        padding: 18px;
        border-width: 6px;
    }

    h1 {
        font-size: 23px;
    }

    p {
        font-size: 14px;
    }

    #dice {
        font-size: 60px;
    }

    button {
        font-size: 16px;
        padding: 12px;
    }

    #result {
        font-size: 20px;
    }

}